body {
	position : absolute;
	width : 100%;
	height : 100%;
	margin : 0;
	padding : 0;
    font-family:  Century;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f8f9fa;
}

h1 {
	text-align: center;
}

#contenedor {
	margin: auto;
	background-color: #f8f9fa;
    display: grid;
	height : 100%;
	width : 100%;
    grid-template-rows: 150px auto 200px;
	grid-template-columns: minmax(10%, auto) minmax(auto, 80%) minmax(auto, 10%);
	grid-template-areas: "cabecera cabecera cabecera"  "menu contenido anuncios" "pie pie pie";
	position:relative;
	z-index: 6;
}


header {
	background-color: #292a3a;
	color: #e1523d ;
	text-align: center;
	grid-area: cabecera;
}

.saludo a,  .saludo a:visited {
	color: #e1523d;
	font-weight: bold;
	text-decoration: none;
} 

.saludo a:hover {
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
} 
nav {
	background-color: #f8f9fa;
	grid-area: menu;
	margin-right: 15px;
}
.nav-container .checkbox, .nav-container .hamburger-lines {
	display: none;
}

nav a, nav a:visited {
	color: #292a3a;
	font-weight: bold;
	text-decoration: none;
} 

nav a:hover {
	color: #e1523d;
	text-decoration: underline;
} 

nav a, nav li{
	color: #e1523d;
}

nav a, nav h3{
	color: #e1523d;
}

aside {
	background-color: #f8f9fa;
	grid-area: anuncios;
	margin-left: 15px;
}

main {
	margin: 0 auto;
	background-color: #f8f9fa;
	grid-area: contenido;
}

footer {
	clear: both;
	background-color: #292a3a;
	color: #e1523d;
	text-align: center;

}

table {
	width: 100%;
}

table#tablefooter .columna1{
	grid-area: pie1;
}

table#tablefooter .columna2{
	grid-area: pie2;
}

table#tablefooter .columna3{
	grid-area: pie3;
}

.fila_footer{
	color: #ffffff;
}

.fila_footer2{
	color: #000000;
}

table td:first-child {
	width: 300px;
}

table td:nth-child(2) {
	width: 400px;
}

table td:nth-child(3) {
	width: 300px;
}



caption{
	color: #292a3a;
	font-weight: bold;
}

table#planificacion {
	color: #292a3a;
	width: 100%;
    border: 1px solid;
	table-layout: fixed;
	background-color: #f8f9fa;
	border-radius: 1em;
	margin-top: 15px;
}
#planificacion td, #planificacion th {
	text-align: center;
	padding: 5px;
	border-radius: 1em;
}

tr:hover {
	background-color: #dddddd;
}

#planificacion td:hover ,#planificacion th:hover{
	background-color: #292a3a;
	color: #f2f2f2;
	border-radius: 1em;
}

th{
	color:#e1523d;
}

div#repeticiones {
	text-align: center;
	color: #292a3a;
}

.column-hover {
	background:#dddddd;
}

.plan {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap : 20px;
}

#formRutinas, #formDietas, .form, #formPago, #formForo, .temas, .verplan{
	background: #FFFFFF;
	margin: 20px auto 20px;
	padding: 3%;
	border-radius: 20px;
	min-width: 200px;
}

.nivel {
	background: #dddddd;
	font-weight: bold;
	border-radius: 5px;
	display: inline-flex;
	list-style-type: none;
	padding: 7px 3px;
	margin: 0;
}

.element input {
	display: none;
}

.element label {
	border-radius: 5px;
	cursor: pointer;
	padding: 4px 5px 4px 5px;
	color: #6c6c6c;
}

.element input:checked + label {
	color: #EF3B3A;
	background-color: #FFFFFF;
}

select {
	padding: 7px 40px 7px 12px;
	width: 100%;
	border: 1px solid #e8eaed;
	border-radius: 5px;
	box-shadow: 0 1px 3px -2px #9098a9;
	cursor: pointer;
	font-size: 16px;
	margin-bottom: 10px;
}
select option[value=""][disabled] {
	display: none;
}

.form , #formPago{
	text-align: center;
}

.plan #formRutinas button, .plan #formDietas button, .form button, #formPago button, #formForo button, .verplan button{
	outline: 0;
	background: #EF3B3A;
	border: 0;
	padding: 15px;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 14px;
	transition: all 0.3 ease;
	cursor: pointer;
	font-family: Century;
}

.form button, #formPago button{
	width: 100%;
}
.form .thumbnail {
	margin: 0 auto 30px;
	padding: 50px 30px;
	max-width: 400px;
	max-height: 400px;
}

.form .thumbnail img {
	display: block;
	width: 100%;
}

.form input, #formPago input, #formForo input{
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	border-radius: 3px;
	box-sizing: border-box;
	font-size: 1em;
}

.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}

.form .message a {
	color: #EF3B3A;
	text-decoration: none;
}

.form .error, #formPago .error{
	color: #292a3a;
	font-size: 16px;
}

#formRegistro{
	display: none;
}

body:before {
	content: "";
	position: fixed;
	display: block;
	top: 0;
  	left: 0;
  	display: block;
  	width: 100%;
  	height: 100%;
}

#tabla, .verplan{
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 10px;
}

#tabla img {
	border-radius: 20px;
	width: 300;
	max-height: 400px;
}

.verplan {
	text-align: center;
}
/*
#chat {
	float: left;
	width: 50%;
	background-color: rgb(201, 0, 0);
}
.selectA { 
	float: left;
	width: 200px; 
	height: 30px; }
.selectB { 
	float: right;
	width: 200px; 
	height: 30px; 
}
.buttonA { 
	float: left;
	width: 200px; 
	height: 30px; 
	background-color: #94d696;
}
.buttonB { 
	float: right;
	width: 200px; 
	height: 30px; 
	background-color: #c47e7e;
}

#logros {
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:rgb(66, 66, 68);
   height:270px;
    width:430px;
    border:1px solid #00ffe1;
	border-width: thick;
    overflow:auto;
	text-align: center;
}
#select{
    float: left;
	height: 50px;
	width: 420px;
	text-align: center;
}
#selectA{
    float: left;
	height: 40px;
	width: 420px;
	text-align: left;
}
 

  
form, p, span {
    margin:0;
    padding:0; 
}
 
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:rgb(66, 66, 68);
	text-align: center;
    width:504px;
    border:1px solid #00ffe1;
border-width: thick;}
  

  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    overflow:auto; 
}
.chat{
	background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
	margin-bottom:25px;
	padding:10px;

}
#usermsg {
    width:325px;
    border:1px solid #ACD8F0; }
#usermsgSelect {
		width:60px;
border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
.text {color:white;}
.textD {color:white;
	float: left;
	width: 200px; 
	height: 30px; }
.textI {color:white;
	float: right;
	width: 200px; 
	height: 30px;}
.ButtonD {background-color:#c47e7e;
	float: left;
	width: 200px; 
	height: 30px; }
.ButtonI {background-color:#94d696;
	float: right;
	width: 200px; 
	height: 30px;}

.ButtonEnviar {background-color:#94d696;}
.ButtonActua {background-color:#00ffe1;}
.text1{
	color:#4afb50;
}
.text2{
	color:#ff5252;
}
.welcome { float:left;color:white }
*/


/* MENSAJES POPUP (ANEXO 1, EJERCICIO 3)*/
.mensajes {
	z-index: 10;
	position: fixed;
	width: 100%;
  }
  
.mensaje {
	border: 2px solid black;
	border-radius: 5px;
	width: 30%;
	margin: 0.2em auto;
	background-color: #b0f5f1;
}

.mensajes input {
	display: none;
}

.mensaje .cabecera {
	font-size: 2em;
	line-height: 0.7em;
	text-align: right;
	padding: 0 0.1em;
}

.mensaje .contenido {
	padding: 0.2em 1em;
	text-align: center;
}

.mensajes input:checked + .mensaje {
	display: none;
}

.mensaje label {
	margin: 0px;
}
/* FIN MENSAJES POPUP (ANEXO 1, EJERCICIO 3)*/

@media all and (max-width: 860px) {
	#contenedor {
		grid-template-rows: 150px 40px auto auto 200px;
		grid-template-areas: "cabecera"  "menu" "contenido" "anuncios" "pie";
		grid-template-columns: auto;
		display: grid;
	}
	header, main, nav, aside, footer {
		width: 100%;
	}
	
	.nav-container .hamburger-lines {
		display: block;
		height: 26px;
		width: 32px;
		position: absolute;
		top: 10px;
		left: 47%;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	.navbar .menu-items {
		padding-top: 130px;
		background-color: #ffffff;
		height: 100vh;
		width: 100%;
		transform: translate(-150%);
		display: flex;
		flex-direction: column;
		margin-left: -50px;
		padding-left: 50px;
		transition: transform 0.5s ease-in-out;
		text-align: center;
		z-index: 2;
		position: absolute;
	}

	#tabla, .plan {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto;
	}
	
	#tabla img {
		display: none;
	}


}
.navbar .menu-items li {
	margin-bottom: 1.2rem;
	font-size: 1.5rem;
	font-weight: 500;
}

.navbar .nav-container li {
	list-style: none;
}

.navbar .nav-container a {
	color: #292a3a;
	font-weight: bold;
	font-size: 1.2rem;
}

.navbar .nav-container a:hover{
	color: #e1523d;
	text-decoration: underline;
}

.nav-container {
	display: block;
	position: relative;
}

.nav-container .hamburger-lines .line {
	display: block;
	height: 4px;
	width: 100%;
	border-radius: 10px;
	background: #292a3a;
}

.nav-container .checkbox {
	position: relative;
	display: block;
	height: 32px;
	width: 32px;
	top: 10px;
	left: 47%;
	z-index: 5;
	opacity: 0;
	cursor: pointer;
}
.nav-container input[type="checkbox"]:checked ~ .menu-items {
	transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
	transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
	transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
	transform: rotate(-45deg);
}

.nav-container .hamburger-lines .line1 {
	transform-origin: 0% 0%;
	transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
	transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
	transform-origin: 0% 100%;
	transition: transform 0.4s ease-in-out;
}