body {
	position : absolute;
	width : 100%;
	height : 100%;
	margin : 0;
	padding : 0;
    font-family:  Century;
}

#contenedor {
	margin: auto;
	background-color: #f8f9fa;
    display: grid;
	height : 100%;
	width : 100%;
    grid-template-rows: 180px auto 60px;
	grid-template-columns: 10% 80% 10%;
	grid-template-areas: "cabecera cabecera cabecera"  "menu contenido anuncios" "pie pie pie";
}

header {
	padding: 30px;
	background-color: #292a3a;
	color: #e1523d ;
	grid-area: cabecera;
	text-align: center;
}

header a, header a:visited {
	color: #e1523d;
	font-weight: bold;
	text-decoration: none;
} 

header a:hover {
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
} 


nav {
	padding: 10px;
	background-color: #f8f9fa;
	grid-area: menu;
}

nav a, nav a:visited {
	color: #e1523d;
	font-weight: bold;
	text-decoration: none;
} 

nav a:hover {
	color: #e1523d;
	text-decoration: underline;
} 

nav a, nav li{
	color: #e1523d;
}

nav a, nav h3{
	color: #e1523d;
}

aside {
	padding: 10px;
	background-color: #f8f9fa;
	grid-area: anuncios;
}

main {
	padding: 10px;
	margin: 0 auto;
	background-color: #f8f9fa;
	grid-area: contenido;
	width: 80%;
}

footer {
	clear: both;
	padding: 20px;
	background-color: #292a3a;
	color: #e1523d;
	text-align: center;
	grid-area: pie;
}
/*
fieldset {
	border: 1px solid #292a3a;
	margin: auto;
}

fieldset div {
	justify-content: center;
	margin: 5px auto;
}

form {
    color: #292a3a;
}

legend {
	color: #fff;
	background: #292a3a;
	border: 1px solid #292a3a;
	padding: 2px 6px;
} 	

button {
	border: 1px solid #292a3a;
	font-size: 0.9em;
	font-family: Century;
	font-weight: 400;
	color: #fff;
	background-color: #292a3a;
	padding: 1px 6px;
	margin: 1px 5px;
}
*/
caption{
	color: #292a3a;
	font-weight: bold;
}

table#planificacion {
	color: #292a3a;
	width: 100%;
    border: 1px solid;
	table-layout: fixed;
	background-color: #f8f9fa;
	border-radius: 1em;
}

caption {
	padding: 20px;
	text-align: center;
	font-size: 1.6em;
}

#planificacion td, #planificacion th {
	text-align: center;
	padding: 5px;
	border-radius: 1em;
}

tr:hover {
	background-color: #dddddd;
}

#planificacion td:hover ,#planificacion th:hover{
	background-color: #292a3a;
	color: #f2f2f2;
	border-radius: 1em;
}

th{
	color:#e1523d;
}


div#repeticiones {
	text-align: center;
	color: #292a3a;
}


.column-hover {
	background:#dddddd;
}

div#tabla {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap : 20px;
}

#tabla img {
	max-width: 300px;
	max-height: 400px;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 60%;
	margin: 0 auto 100px;
	padding: 3%;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	text-align: center;
}

form .thumbnail {
	background: #ffffff;
	margin: 0 auto 30px;
	padding: 50px 30px;
	max-width: 400px;
	max-height: 400px;
}

form .thumbnail img {
	display: block;
	width: 100%;
}

form input {
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	box-sizing: border-box;
	font-size: 1em;
}

form button {
	outline: 0;
	background: #EF3B3A;
	width: 100%;
	border: 0;
	padding: 15px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	color: #FFFFFF;
	font-size: 14px;
	transition: all 0.3 ease;
	cursor: pointer;
	font-family: Century;
}

form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}

form .message a {
	color: #EF3B3A;
	text-decoration: none;
}

form .error {
	color: #292a3a;
	font-size: 16px;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body:before {
	position: fixed;
	display: block;
	top: 0;
  	left: 0;
  	display: block;
  	width: 100%;
  	height: 100%;
}

#contenedor {
	position:relative;
	z-index: 1;
}

#contenedor:before, #contenedor:after {
	display: block;
	clear: both;
}
/*
#chat {
	float: left;
	width: 50%;
	background-color: rgb(201, 0, 0);
}
.selectA { 
	float: left;
	width: 200px; 
	height: 30px; }
.selectB { 
	float: right;
	width: 200px; 
	height: 30px; 
}
.buttonA { 
	float: left;
	width: 200px; 
	height: 30px; 
	background-color: #94d696;
}
.buttonB { 
	float: right;
	width: 200px; 
	height: 30px; 
	background-color: #c47e7e;
}

#logros {
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:rgb(66, 66, 68);
   height:270px;
    width:430px;
    border:1px solid #00ffe1;
	border-width: thick;
    overflow:auto;
	text-align: center;
}
#select{
    float: left;
	height: 50px;
	width: 420px;
	text-align: center;
}
#selectA{
    float: left;
	height: 40px;
	width: 420px;
	text-align: left;
}
 

  
form, p, span {
    margin:0;
    padding:0; 
}
 
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:rgb(66, 66, 68);
	text-align: center;
    width:504px;
    border:1px solid #00ffe1;
border-width: thick;}
  

  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    overflow:auto; 
}
.chat{
	background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
	margin-bottom:25px;
	padding:10px;

}
#usermsg {
    width:325px;
    border:1px solid #ACD8F0; }
#usermsgSelect {
		width:60px;
border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
.text {color:white;}
.textD {color:white;
	float: left;
	width: 200px; 
	height: 30px; }
.textI {color:white;
	float: right;
	width: 200px; 
	height: 30px;}
.ButtonD {background-color:#c47e7e;
	float: left;
	width: 200px; 
	height: 30px; }
.ButtonI {background-color:#94d696;
	float: right;
	width: 200px; 
	height: 30px;}

.ButtonEnviar {background-color:#94d696;}
.ButtonActua {background-color:#00ffe1;}
.text1{
	color:#4afb50;
}
.text2{
	color:#ff5252;
}
.welcome { float:left;color:white }
*/


/* MENSAJES POPUP (ANEXO 1, EJERCICIO 3)*/
.mensajes {
	position: fixed;
	width: 100%;
  }
  
.mensaje {
	border: 2px solid black;
	border-radius: 5px;
	width: 30%;
	margin: 0.2em auto;
	background-color: #b0f5f1;
}

.mensajes input {
	display: none;
}

.mensaje {
	font-size: 2em;
	line-height: 0.7em;
	text-align: right;
	padding: 0 0.1em;
}

.mensaje{
	padding: 0.2em 1em;
	text-align: center;
}

.mensajes input:checked + .mensaje {
	display: none;
}

.mensaje label {
	margin: 0px;
}