/* Body */

body {
	position : absolute;
	width : 100%;
	height : 100%;
	margin : 0;
	padding : 0;
    font-family:  Century;
	background-color: #f8f9fa;
}

body:before {
	content: "";
	position: fixed;
	display: block;
	top: 0;
  	left: 0;
  	display: block;
  	width: 100%;
  	height: 100%;
}

h1 {
	text-align: center;
}

article {
	width: 100%;
}
/* Estructura de la pagina*/

#contenedor {
	margin: auto;
	background-color: #f8f9fa;
    display: grid;
	height : 100%;
	width : 100%;
    grid-template-rows: 150px auto 200px;
	grid-template-columns: minmax(10%, auto) minmax(auto, 80%) minmax(auto, 10%);
	grid-template-areas: "cabecera cabecera cabecera"  "menu contenido anuncios" "pie pie pie";
	position:relative;
	z-index: 6;
}


header {
	background-color: #292a3a;
	color: #e1523d ;
	text-align: center;
	grid-area: cabecera;
}

.saludo a,  .saludo a:visited {
	color: #e1523d;
	font-weight: bold;
	text-decoration: none;
} 

.saludo a:hover {
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
} 
nav {
	background-color: #f8f9fa;
	grid-area: menu;
	margin-right: 15px;
}
.nav-container .checkbox, .nav-container .hamburger-lines {
	display: none;
}

nav a, nav a:visited {
	color: #292a3a;
	font-weight: bold;
	text-decoration: none;
} 

nav a:hover {
	color: #e1523d;
	text-decoration: underline;
} 

nav a, nav li{
	color: #e1523d;
}

nav a, nav h3{
	color: #e1523d;
}

.navbar .menu-items li {
	margin-bottom: 1.2rem;
	font-size: 1.5rem;
	font-weight: 500;
}

.navbar .nav-container li, .recetas li, .temas li, .nivel li, .noticias li, .ejercicios li {
	list-style: none;
}

.navbar .nav-container a {
	color: #292a3a;
	font-weight: bold;
	font-size: 1.2rem;
}

.navbar .nav-container a:hover{
	color: #e1523d;
	text-decoration: underline;
}

.nav-container {
	display: block;
	position: relative;
}

.nav-container .hamburger-lines .line {
	display: block;
	height: 4px;
	width: 100%;
	border-radius: 10px;
	background: #292a3a;
}

.nav-container .checkbox {
	position: relative;
	display: block;
	height: 32px;
	width: 32px;
	top: 10px;
	left: 47%;
	z-index: 5;
	opacity: 0;
	cursor: pointer;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
	transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
	transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
	transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
	transform: rotate(-45deg);
}

.nav-container .hamburger-lines .line1 {
	transform-origin: 0% 0%;
	transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
	transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
	transform-origin: 0% 100%;
	transition: transform 0.4s ease-in-out;
}

aside {
	background-color: #f8f9fa;
	grid-area: anuncios;
	margin-left: 15px;
}

main {
	margin: 0 auto;
	background-color: #f8f9fa;
	grid-area: contenido;
	width: 90%;
}

footer {
	clear: both;
	background-color: #292a3a;
	color: #e1523d;
	text-align: center;
	grid-area: pie;

}

.temas {
	width: 100%;
	text-align: center;
}

/* MENSAJES POPUP*/
.mensajes {
	z-index: 10;
	position: fixed;
	width: 100%;
  }
  
.mensaje {
	border: 2px solid black;
	border-radius: 5px;
	width: 30%;
	margin: 0.2em auto;
	background-color: #b0f5f1;
}

.mensajes input {
	display: none;
}

.mensaje .cabecera {
	font-size: 2em;
	line-height: 0.7em;
	text-align: right;
	padding: 0 0.1em;
}

.mensaje .contenido {
	padding: 0.2em 1em;
	text-align: center;
}

.mensajes input:checked + .mensaje {
	display: none;
}

.mensaje label {
	margin: 0px;
}


.container_portada{
	width: 100%;
}

.container_portada img{
	width: 100%;
	border-radius: 20px;
}

.container_portada p{
	font-size: 18px;
	font-weight: 300;
	margin-top: 20px;
	text-align: justify;
}

.title_portada{
	font-size: 40px;
	margin-bottom: 60px;
}

.title_portada2{
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 60px;
}
*/

/* Productos Recomendados */

a.ver-producto {
    outline: none;
    text-decoration: none;
}

#enlace-comprarp{
	text-align: center;
	margin-bottom: 30px;
}

#carac-producto{
	text-align: center;
	margin-bottom: 30px;
}

.comprar-producto{
	background-color: #199319;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  display: inline-block;

}

.productos-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: stretch;
}
.producto{
	border: 1px solid #ccc;
	padding: 20px;

}


.nombre-producto{
	color:#EF3B3A;
	text-align: center;
}

.descripcion-producto{
	color: #292a3a;
}
.imagen-producto img{
    border-radius: 20px;
}

.imagen-producto{
	text-align: center;
}

.precio-producto{
	color: #6c6c6c;

	font-weight: bold;
	text-align: right;
}

/* Tablas planificacion */

caption{
	color: #292a3a;
	font-weight: bold;
}

table#planificacion {
	color: #292a3a;
	width: 100%;
    border: 1px solid;
	table-layout: fixed;
	background-color: #f8f9fa;
	border-radius: 1em;
	margin-top: 15px;
}
#planificacion td, #planificacion th {
	text-align: center;
	padding: 5px;
	border-radius: 1em;
}

tr:hover {
	background-color: #dddddd;
}

#planificacion a{
	outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
	color:#e1523d;
}

#planificacion td{
	color:#e1523d;
    
}

#planificacion a:hover{
	outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
	color: #f2f2f2;
}


#planificacion td:hover ,#planificacion th:hover{
	background-color: #292a3a;
	color: #f2f2f2;
	border-radius: 1em;
}

th{
	color:#e1523d;
}

div#repeticiones {
	text-align: center;
	color: #292a3a;
}

.column-hover {
	background:#dddddd;
}

/* display planificacion */

.plan, #tabla, .verplan {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap : 20px;
	grid-template-areas: "izq" "der";
}

.verplan #formVerRutina #formVerDieta {
	width: 50%;
}

/* display contenido */

.contenido {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-areas: "izq" "centro" "der";
}

.contenido {
	text-align: center;
	align-items: center;
	height: 100%;
}

.contenido img {
	width: 250px;
	height: 250px;
}

/* formularios */

#formRutinas, #formDietas, .form, #formPago, #formForo, .temas, .verplan, #formEntrenadorRutinas, #formEntrenadorDietas, #formBorraForo, .msg-objeto, .respuesta, 
#formChatUsuario,#formAdminAnuncio, #formChatEntrenador, .logros, #formAdminCrea, #formAdminBorra, #formContenido, #formCreaReceta, #formCreaNoticia, 
#formCreaEjercicio, #formEditaEjercicio, #formEditaNoticia, #formEditaUsuario, #cuenta{
	background: #FFFFFF;
	margin: 20px auto 20px;
	padding: 3%;
	border-radius: 20px;
	min-width: 200px;
}

.form , #formPago{
	text-align: center;
}

#formRegistro{
	display: none;
}

#formCreaNoticia h3 {
	text-align: center;
}

/* Cuenta */

#formEditaUsuario {
	display: none;
}

#cuenta a, #cuenta a:visited{
	color: #292a3a;
	font-weight: bold;
	text-decoration: none;
}

#cuenta a:hover {
	color: #e1523d;
	font-weight: bold;
	text-decoration: underline;
} 

#cuenta p {
	font-weight: bold;
}

#cuenta p:hover{
	color: #e1523d;
}

#formEditaUsuario i{
	font-size: 2em;
	text-align: center;
	display: block;
}

/* input*/

.form input, #formPago input,#formChatEntrenador input,#formChatUsuario input, #formAdminAnuncio input, #formAdminCrea input, #formAdminBorra input, 
#formCreaReceta input, #formCreaNoticia input, #formCreaEjercicio input,  #formCreaEjercicio label, #formEditaMensaje input, #formForo input, 
#formEditaEjercicio label, #formEditaNoticia input, #formEditaUsuario input, #cuenta p{
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	border-radius: 3px;
	box-sizing: border-box;
	font-size: 1em;
}

#formCreaEjercicio label {
	text-align: center;
	display: block;
	cursor: pointer;
}

/* errores formularios */

.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
}

.form .message a {
	color: #EF3B3A;
	text-decoration: none;
}

.error{
	color: #292a3a;
	font-size: 16px;
	margin-bottom: 10px;
}

/* Tablas */

.nivel {
	background: #dddddd;
	font-weight: bold;
	border-radius: 5px;
	display: inline-flex;
	padding: 7px 3px;
	margin: 0;
}

.element input {
	display: none;
}

.element label {
	border-radius: 5px;
	cursor: pointer;
	padding: 4px 5px 4px 5px;
	color: #6c6c6c;
}

.element input:checked + label {
	color: #EF3B3A;
	background-color: #FFFFFF;
}

#tabla img {
	border-radius: 20px;
	width: 300;
	max-height: 400px;
}

.verplan {
	text-align: center;
}

/* select */

select {
	padding: 7px 40px 7px 12px;
	width: 100%;
	border: 1px solid #e8eaed;
	border-radius: 5px;
	box-shadow: 0 1px 3px -2px #9098a9;
	cursor: pointer;
	font-size: 16px;
	margin-bottom: 10px;
}

select option[value=""][disabled] {
	display: none;
}

/* botones */

#formPersProductos button, #formFilProductos button, .plan #formRutinas button, .plan #formDietas button, .form button, #formPago button, #formForo button, .verplan button, #formBorraForo button, 
#formEditaMensaje button, #formBorraMensaje button, #formChatUsuario button, #formChatEntrenador button, #formAdminCrea button, #formAdminBorra button, 
#formContenido p,#formAdminAnuncio button, #formCreaReceta button, #formCreaNoticia button, #formCreaEjercicio button, #formBorraReceta button, 
#formBorraNoticia button, #formBorraEjercicio button, #formEditaEjercicio button, #formEditaNoticia button, #formEditaUsuario button{
	outline: 0;
	background: #EF3B3A;
	border: 0;
	padding: 15px;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 14px;
	transition: all 0.3 ease;
	cursor: pointer;
	font-family: Century;
}

#formContenido button {
	border: 0;
	background: #ffffff;
	cursor: pointer;
}

#formChatUsuario #usermsg, #formChatEntrenador #usermsg{
	background-color: #e8eaed;
	color: #292a3a;
}

#formBorraForo button, #formEditaMensaje button, #formBorraMensaje button, #formEntrenadorRutinas button, #formEntrenadorDietas button, #formEditarRutinas button, 
#formEditarDietas button {
	background: #EF3B3A;
	border: 0;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
	font-family: Century;
}

.form button, #formPago button, #formBorraNoticia button, #formEditaMensaje button, #formBorraMensaje button{
	width: 100%;
}

#formBorraNoticia {
	margin-bottom: 10px;
}

#formBorraReceta button, #formBorraEjercicio button {
	width: 80%
}

#formBorraEjercicio button, #formBorraReceta button {
	margin-bottom: 15px;
}

/*chats*/

#chat {
	width: 100%;
	border-radius: 5px;
	border: 0;
	background-color: #f2f2f2;
	color: #292a3a;
	margin-top: 10px;
}

#scroll {
	overflow: scroll;
	overflow-x: hidden;
	width: 100%;
	height: 400px;
}

.entrenador {
	background: #292a3a;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	border-radius: 3px;
	box-sizing: border-box;
	font-size: 1em;
	text-align: center;
	color: #e6e6e6;
}

#entrenador, #usuario {
	background: #FFFFFF;
	width: 70%;
	border: 0;
	margin: 0 15px 15px;
	padding: 15px;
	border-radius: 3px;
	box-sizing: border-box;
	font-size: 1em;
	text-align: center;
	color: #292a3a;
}

#entrenador .texto, #usuario .texto {
	word-wrap: break-word;
	width: 100%;
	text-align: left;
}

#entrenador, #usuario .texto, #entrenador .texto {
	float: left;
}

#usuario, #usuario .fecha, #entrenador .fecha {
	float: right;
}

#entrenador:hover, #usuario:hover {
	color: #e1523d;
	font-weight: bold;
}

/* miniatura login registro */

.form .thumbnail {
	margin: 0 auto 30px;
	padding: 50px 30px;
	max-width: 400px;
	max-height: 400px;
}

.form .thumbnail img {
	display: block;
	width: 100%;
}

/* textarea */
.chat, #formCreaNoticia textarea, #formCreaEjercicio textarea, #formEditaMensaje textarea, #formForo textarea, #formEditaEjercicio textarea, #formEditaNoticia textarea{
	width: 100%;
	height: 200px;
	resize: none;
	border-radius: 5px;
	border: 0;
	background-color: #f2f2f2;
	margin-bottom: 10px;
	color: #292a3a;
	margin-top: 10px;
}

/* paginas */

#paginas {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	color: #292a3a;
	font-weight: bold;
}

#paginas a, #paginas a:visited{
	color: #292a3a;
	font-weight: bold;
	text-decoration: none;
}

#paginas a:hover {
	color: #e1523d;
	text-decoration: underline;
}

/* recetas */

.recetas {
	background: #FFFFFF;
	padding-top: 15px;
	border-radius: 20px;
	width: 100%;
	text-align: center;
}

.recetas iframe {
	width: 80%;
	min-height: 250px;
	border-radius: 20px;
}

.recetas ul{
	padding-inline-start: 0px;
}

/* noticias */

.noticias ul {
	padding-inline-start: 0px;
}

.noticias .par {
	border-radius: 20px;
	background-color: #e6e6e6;
}

.noticias .impar {
	background-color: #FFFFFF;
	border-radius: 20px;
}

.noticias .par, .noticias .impar {
	padding: 10px 10px;
	margin-bottom: 10px;
}

.noticias a, .noticias a:visited{
	color: #292a3a;
	font-weight: bold;
	text-decoration: none;
}

.noticias a:hover {
	color: #e1523d;
	text-decoration: underline;
}

.noticias h4 {
	text-align: center;
}

.noticias .fecha {
	float:right;
}

#noticia p {
	text-align: justify;
}

#formEditaNoticia{
	display: none;
}

#noticia a, #noticia a:visited{
	color: #292a3a;
	font-weight: bold;
	text-decoration: none;
}

#noticia a:hover {
	color: #e1523d;
	font-weight: bold;
	text-decoration: underline;
} 

/* ejercicios */

.ejercicios img{
	width : 100%;
	height: 60%;
}

.ejercicios {
	background: #FFFFFF;
	padding-top: 15px;
	border-radius: 20px;
	width: 100%;
	text-align: center;
}

.ejercicios a, .ejercicios a:visited{
	color: #292a3a;
	font-weight: bold;
	text-decoration: none;
}

.ejercicios a:hover {
	color: #e1523d;
	text-decoration: underline;
}

#ejercicio {
	text-align: center;
}

.fila {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	grid-template-areas: "izq"  "centro" "der";
}

#formCreaEjercicio #imagen, #formEditaEjercicio #imagen {
	display: none;
}

#formEditaEjercicio{
	display: none;
}

#ejercicio a, #ejercicio a:visited{
	color: #292a3a;
	font-weight: bold;
	text-decoration: none;
}

#ejercicio a:hover {
	color: #e1523d;
	font-weight: bold;
	text-decoration: underline;
} 

/* foro */

#mensaje, #mensajeObjeto, .respuesta{
	text-align: center;
}

.listamensajes li{
	list-style: none;
	background:#e6e6e6;
	margin: 10px 10px 10px;
	padding: 1%;
	padding-bottom:3px;
	border-radius: 20px;
}

div#mensaje {
	word-wrap: break-word;
}

div#mensajeObjeto {
	word-wrap: break-word;
}

/* enlaces foro */

.listamensajes a, div#mensajes a, .listatemas, .listamensajes a:visited, div#mensajes a:visited, .listatemas:visited, #lista, #lista:visited{
	color: #292a3a;
	font-weight: bold;
	text-decoration: none;
}
#formEditaMensaje, #formBorraMensaje{
	display: none;
}
.listamensajes a:hover, div#mensajes a:hover, .listatemas:hover, #lista:hover {
	color: #e1523d;
	font-weight: bold;
	text-decoration: underline;
} 
.inline-button{
	display: inline-block;
	background-color: #e1523d;
}
/* iconos */

#formCreaNoticia i, #formRegistro i, #formCreaEjercicio i{
	font-size: 2em;
	text-align: center;
	display: block;
}

/* Diseño dispositivos pequeños*/

@media all and (max-width: 860px) {
	#contenedor {
		grid-template-rows: 150px 40px auto auto 200px;
		grid-template-areas: "cabecera"  "menu" "contenido" "anuncios" "pie";
		grid-template-columns: auto;
		display: grid;
	}
	header, main, nav, aside, footer {
		width: 100%;
	}
	
	.nav-container .hamburger-lines {
		display: block;
		height: 26px;
		width: 32px;
		position: absolute;
		top: 10px;
		left: 47%;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	.navbar .menu-items {
		padding-top: 130px;
		background-color: #ffffff;
		height: 100vh;
		width: 100%;
		transform: translate(-150%);
		display: flex;
		flex-direction: column;
		margin-left: -50px;
		padding-left: 50px;
		transition: transform 0.5s ease-in-out;
		text-align: center;
		z-index: 2;
		position: absolute;
	}

	#tabla, .plan, .verplan {
		grid-template-columns: auto;
		grid-template-rows: auto auto;
	}

	.contenido, .productos-layout, .fila {
		grid-template-rows: auto auto auto;
		grid-template-columns: auto;
	}
	
	#tabla img {
		display: none;
	}

	#formRutinas, #formPago, #formVerRutina, #formForo, #formEntrenadorRutinas, #recetas, #row0{
		grid-area: izq;
	}
	
	#formDietas, #suscripcion, #formVerDieta, .temas, #formEntrenadorDietas, #ejercicios, #row1{
		grid-area: der;
	}

	#noticias, #row2{
		grid-area: centro;
	}

	.fila {
		grid-template-columns: auto;
	}

}