#contenedor img {
	max-width: 300px;
	max-height: 500px;
}

div#tabla {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap : 20px;
}

body {
	background-color: #CDCDCD;
	text-align:center;
    padding:35px; 
}

div#contenedor {
	width: 1000px;
	margin: auto;
	border: 1px solid black;
	background-color: #aaaaaa;
	margin-top: 30px;
}

header {
	padding: 30px;
	height: 100px;
	background-color: #303030;
	color: white;
	
}

header a, header a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
} 

header a:hover {
	color: red;
	font-weight: bold;
	text-decoration: underline;
} 


nav {
	padding: 10px;
	float: left;
	width: 170px;
	min-height: 400px;
	background-color: #dddddd;
}

nav a, nav a:visited {
	color: red;
	font-weight: bold;
	text-decoration: none;
} 

nav a:hover {
	color: red;
	text-decoration: underline;
} 


aside {
	padding: 10px;
	float: right;
	width: 170px;
	height: 400px;
	background-color: #dddddd;
}

main {
	padding: 10px;
	float: left;
	min-height: 400px;
	width: 600px;
	background-color: white;
}
#chat {
	float: left;
	width: 50%;
	background-color: rgb(201, 0, 0);
}
.selectA { 
	float: left;
	width: 200px; 
	height: 30px; }
.selectB { 
	float: right;
	width: 200px; 
	height: 30px; 
}
.buttonA { 
	float: left;
	width: 200px; 
	height: 30px; 
	background-color: #94d696;
}
.buttonB { 
	float: right;
	width: 200px; 
	height: 30px; 
	background-color: #c47e7e;
}

#logros {
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:rgb(92, 101, 156);
   height:270px;
    width:430px;
    border:1px solid #4400ff;
	border-width: thick;
    overflow:auto;
	text-align: center;
}
#select{
    float: left;
	height: 50px;
	width: 420px;
	text-align: center;
}
#selectA{
    float: left;
	height: 40px;
	width: 420px;
	text-align: left;
}
/* CHAT */
/*body {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px; 
}*/
  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
a {
    color:#ff0000;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:rgb(92, 101, 156);
    width:504px;
    border:1px solid #4400ff; 
border-width: thick;}
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    overflow:auto; 
}
.chat{
	background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
	margin-bottom:25px;
	padding:10px;

}
#usermsg {
    width:325px;
    border:1px solid #ACD8F0; }
#usermsgSelect {
		width:60px;
border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
.text {color:white;}
.textD {color:white;
	float: left;
	width: 200px; 
	height: 30px; }
.textI {color:white;
	float: right;
	width: 200px; 
	height: 30px;}
.ButtonD {background-color:#c47e7e;
	float: left;
	width: 200px; 
	height: 30px; }
.ButtonI {background-color:#94d696;
	float: right;
	width: 200px; 
	height: 30px;}
.text1{
	color:#6bff70;
}
.text2{
	color:#ff6464;
}
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left;color:white }
  
.logout { float:right; }
  
.msgln { margin:1 0 2px 0; }
/* CHAT */


footer{
	clear: both;
	padding: 20px;
	background-color: #303030;
	color: white;
	text-align: center;
}

div.saludo {
	width: 100%;
	text-align: right;
}

fieldset {
	border: 1px solid black;
	width: 15em;
	margin: 0 auto;
}

legend {
	color: #fff;
	background: #303030;
	border: 1px solid black;
	padding: 2px 6px;
} 

label {
	width: 4em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;
}

button {
	margin-left: 100px;
} 